

<div class="header text-right extra-bottom">
  <% if current_user %>
    Welcome, <% end %><%= current_user.name %>!
</div>

<!-- LEFT SIDE -->
<div class="row">
  <div class="col-md-4">  

    <%= image_tag current_user.twitter_image_url, class: "img-circle img-left"%>

     <%= link_to "CREATE →", new_event_path, class: ["btn-outline", "white", "animated", "fadeIn"] %> 
      <br>
      <br>
      <br>
       <%= link_to "JOIN →", events_path, class: ["btn-outline", "white", "animated", "fadeIn"] %> 

    <!-- <a href="javascript:;"class="btn-outline white animated fadeIn" data-effect="fadeIn">CREATE AN EVENT&nbsp;&nbsp;→</a> -->

  </div>


  <!-- RIGHT SIDE -->

  <div class="col-md-8">

    <div class="masonry js-masonry"  data-masonry-options='{"isFitWidth": true, "gutter": 10}'>
       <% @events.each do |event| %>
          <%= link_to event_path(event) do %>
        <div class="item" style="background-image: url(<%= event.image%>);">
          <div class="event-name">
            <h3><%= event.name %></h3>
          </div>
        </div>
        <% end %>
      <% end %>  
      </div>

    </div>

  </div>
</div>

