
<div class="header-box"></div>

<div class="header text-right">
  <% if current_user %>
    Welcome, <% end %><%= current_user.name %>!
</div>

<!-- LEFT SIDE -->
<div class="row">
  <div class="col-md-4">  
    <%= image_tag current_user.twitter_image_url, class: "img-circle"%>

    <div class="event-links">
     <%= link_to "CREATE AN EVENT  →", new_event_path, class: ["btn-outline", "white", "animated", "fadeIn"] %> 
      <br>
      <br>
      <br>
       <%= link_to "JOIN AN EVENT →", events_path, class: ["btn-outline", "white", "animated", "fadeIn"] %> 
    </div>

    <!-- <a href="javascript:;"class="btn-outline white animated fadeIn" data-effect="fadeIn">CREATE AN EVENT&nbsp;&nbsp;→</a> -->
  </div>

  <!-- RIGHT SIDE -->

  <div class="col-md-8">
    <div class="section-title text-left">
      My Event<span class="main-color">$</span>
    </div>
    <div class="masonry js-masonry"  data-masonry-options='{"isFitWidth": true, "gutter": 10}'>
       <% @events.each do |event| %>
          <%= link_to event_path(event) do %>
        <div class="item" style="background-image: url(<%= event.image%>);">
          <div class="event-name">
            <h3><%= event.name %></h3>
          </div>
        </div>
        <% end %>
      <% end %>
    
    </div>
  </div>
</div>

