<table>
  <tr>
   <td> <%= link_to "[my profile]", user_path(current_user) %> </td> 
    <br>
   <td> <%= link_to "[my existing events]", events_path %> </td>
    <br>
  </tr>
</table>

<h3> Create a new event! </h3>
  <%= form_for @event do |f| %>
  <%= f.label :name, "Event Name" %>
  <%= f.text_field :name, :placeholder => "event name" %>
  <br>
  <br>
  <%= f.label :image, "Image url" %>
  <%= f.text_field :image, :placeholder => "event img url" %>
  <br>
  <br>
  <%= f.label :external_link, "External Link for Event" %>
  <%= f.text_field :external_link, :placeholder => "external link" %>
  <br>
  <br>
  <%= f.label :location, "Event Location" %>
  <%= f.text_field :location, :placeholder => "event location" %>
  <br>
  <br>
  <%= f.label :max_users, "Max # Guests" %>
  <%= number_field_tag ':max_users', nil, in: 2...100 %>
  <br>
  <br> 
  <%= f.label :date_of_event, "Select Event Date" %>
  <%= f.date_select :date_of_event %>
  <br>
  <br> 
  <%= f.label :description, "Event Description" %>
  <%= f.text_area :description, :placeholder => "event description" %>
  <br>
  <br> 
  <%= f.label :total_price, "TOTAL PRICE" %>
  <%= f.text_field :total_price, :placeholder => "TOTAL PRICE" %>
  <br>
  <%= f.submit %>
  <% end %>
  <br>
  <br> 



