<table style="font-family:'helvetica neue'; font-size:20px;">
   <td style="padding-right:40px;"> <%= link_to "[my profile]", user_path(current_user) %> </td> 
    <br>
   <td> <%= link_to "[my existing events]", events_path %> </td>
    <br>
   <% if @event.admin_id == current_user.id %>
      <td> <%= link_to "[EDIT this event]", edit_event_path(@event) %> </td> 
      <br>
      <td><%= link_to "[DELETE this event]", event_path(@event), :method => :delete %></td>
   <% end %>
</table>
<h1 style="font-family:'Helvetica Neue'; padding-left:40px; font-size:45px; font-weight:lighter;"> <%= @event.name %> </h1>
 <figure><%= image_tag @event.image %></figure>
  <%= button_to "Join this!", event_join_path(@event.id) %>
  <ul style="list-style:none;"> 
    <li style="font-family:'helvetica neue'; font-weight:bolder; font-size:30px;">Where?  <%= @event.location %></li>
    <li style="font-family:'helvetica neue'; font-weight:bolder; font-size:30px;">When?  <%= @event.date_of_event %></li>
    <li style="font-family:'helvetica neue'; font-weight:bolder; font-size:30px;">How many people have joined as a guest? : 
      <%= @event.users.count  %>

    </li>
    <li style="font-family:'helvetica neue'; font-weight:bolder; font-size:30px;">How many are invited (max): <%= @event.max_users %></li>
    <li style="font-family:'helvetica neue'; font-weight:bolder; font-size:30px;">How much total? $<%= @event.total_price %></li>
    <li style="font-family:'helvetica neue'; font-weight:bolder; font-size:30px;">How much per person? $<%= @event.price_per_person %></li>
    <li style="font-family:'helvetica neue'; font-weight:bolder; font-size:30px;">What are we planning? <%= @event.description %> </li>
    <li style="font-family:'helvetica neue'; font-weight:bolder; font-size:30px;">Read more: <%= link_to @event.external_link %> </li>
  </ul>
 <h3 style="font-family:'helvetica neue'; font-weight:bolder; font-size:30px; color:#555;">Tracking Progress</h3>
  <ul> 
    <li>Paid? 
      <% if @event.paid == false %>
        <em> Not yet </em>
      <% elsif @event.paid == true %> 
        <em> Payment fulfilled! </em>
      <% end %>
    </li>
    <li>Currently, what is the rate of people who have joined to those who were invited? 
     <strong> <%= @event.current_rate_of_attendance %> % </strong> 
     <!-- leaves % in paragraph tag to show rate as a percent -->
    </li>
  </ul>
