<table>
   <td> <%= link_to "[my profile]", user_path(current_user) %> </td> 
    <br>
   <td> <%= link_to "[my existing events]", events_path %> </td>
    <br>
   <% if @event.admin_id == current_user.id %>
      <td> <%= link_to "[EDIT this event]", edit_event_path(@event) %> </td> 
      <br>
      <td><%= link_to "[DELETE this event]", event_path(@event), :method => :delete %></td>
   <% end %>
</table>
<h2> <%= @event.name %> </h2>
 <figure><%= image_tag @event.image %></figure>
  <%= button_to "Join this!", event_join_path(@event.id) %>
  <ul> 
    <li>Where? : <%= @event.location %></li>
    <li>When? : <%= @event.date_of_event %></li>
    <li>How many people have joined as a guest? : 
      <% if @event.total_guests.count == 0 %>
        <%= 1 %>
      <% else %> 
        <%= @event.total_guests.count %>
      <% end %>
    </li>
    <li>How many are invited (max) : <%= @event.max_users %></li>
    <li>How much total? : $<%= @event.total_price %></li>
    <li>How much per person? : $<%= @event.price_per_person %></li>
    <li>What are we planning?! : <p> <%= @event.description %> </p> </li>
    <li>Read more on the external link: <p> <%= link_to @event.external_link %> </p></li>
  </ul>
 


