
<h1 class="page-header"><%= @event.name %></h1>
  <div class="row">
    <div class="col-md-8"><%= image_tag @event.image, class: "img-circle" %>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-10">
      <div class="skill-bar">
        <ul>
          <li>
            <div class="bar" data-value="<%= @event.current_rate_of_attendance %>" 
            style="width: <%= @event.current_rate_of_attendance %>%;">
            <h5>Accepted Invites</h5>
            </div>
            <span><%=@event.users.count %>/<%=@event.max_users%></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4 class="main-color">Where?</h4>
      <h4 class="main-color">When?</h4>
      <h4 class="main-color">How many joined?</h4>
      <h4 class="main-color">How many invited?</h4>
      <h4 class="main-color">Total cost? </h4>
      <h4 class="main-color">Per person? </h4>
      <h4 class="main-color">Paid? </h4> 
      <h4 class="main-color">Link: </h4>
      <h4 class="main-color">The Plan: </h4>
      <h4 class="main-color">Who's coming?</h4>
    </div>

    <div class="col-xs-4">
      <h4 class="white"><%= @event.location %></h4>
      <h4 class="white"><%= @event.date_of_event %></h4>
      <h4 class="white"><%= @event.users.count  %></h4>
      <h4 class="white"><%= @event.max_users %></h4>
      <h4 class="white">$<%= @event.total_price %></h4>
      <h4 class="white">$<%= @event.price_per_person %></h4>
      <h4 class="white"><%= link_to @event.external_link, class: "text-left blue" %></h4>
        <% if @event.paid == true %>
        <h4 class="white">yes</h4>
        <% else %>
        <h4 class="white">not yet</h4>
        <% end %> 
      <h4 class="white"><%= @event.description %></h4> 
        <% @event.users.each do |user| %>
          <%= link_to("http://twitter.com/#{user.twitter_handle}", target: "_blank") do %>
        <h5 class="text-left blue">@<%= user.twitter_handle %></h5>
          <% end %>
        <% end %> 
    </div>
  </div>

  <div class="text-center col-lg-12 button-holder">
     <% if @event.admin_id == current_user.id %>
        <%= link_to "EDIT", edit_event_path(@event), class: "btn btn-dark" %> 
        <%= link_to "DELETE", event_path(@event), :method => :delete, class: "btn btn-danger" %>
      <% end %>
      <!-- ************ Ensures users may only join events if the event has not yet reached its max. capacity && the join button only appears for users who haven't already joined the event && are not admin of the event ******************* -->   
      <% if @event.users.count <= @event.max_users && !(@event.users.include?(current_user)) %>
        <%= button_to "JOIN!", event_join_path(@event.id), class: "btn btn-dark" %>
      <% end %>

      <% if @event.users.count == @event.max_users && current_user.id == @event.admin_id %>
        <%= button_to "GET PAID!", event_pay_path(@event.id), class: "btn btn-dark" %>
      <% end %>

  </div>







