<div class="container">
   <h1 class="page-header"><%= @event.name %> </h1>
      <div class="thumbnail"><%= image_tag @event.image %></div>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <% if @event.admin_id == current_user.id %>
                <table>
                  <td> <%= link_to "EDIT", edit_event_path(@event), class: "btn btn-primary" %> </td> 
                  <td ><%= link_to "DELETE", event_path(@event), :method => :delete, class: "btn btn-danger" %></td>
              <% else %>
                <%= button_to "JOIN!", event_join_path(@event.id), class: "btn btn-info" %>
                </table>
              <% end %>
<div class="container">
  <div class="row"> 
    <div class="col-md-6">
      <div class="skill-bar">
      <ul>How many invitees have accepted?
      <li>
        <div class="bar" data-value="<%= @event.current_rate_of_attendance %>" 
          style="width: <%= @event.current_rate_of_attendance %>%;">
           <h5>Accepted Invites</h5>
        </div>
        <span><%=@event.users.count %>/<%=@event.max_users%></span>
      </li>
    </ul>
</div>  
      <h5> Where? <%= @event.location %></h5>
      <h5> When? <%= @event.date_of_event %></h5>
      <h5> How many people have joined as a guest? <%= @event.users.count  %> </h5>
      <h5> How many are invited (max): <%= @event.max_users %> </h5>
      <h5> How much total? $<%= @event.total_price %></h5>
      <h5> How much per person? $<%= @event.price_per_person %></h5>
      <h5> What are we planning? <%= @event.description %> </h5>
      <h5> Read more: <%= link_to @event.external_link %> </h5> 
      <h5>Paid? 
         <% if @event.paid == false %>
          <em> not yet </em>
          <% elsif @event.paid == true %> 
          <em> Payment fulfilled! </em>
          <% end %>
      </h5>
    </div>
  </div>
</div>
          
