<h2> <%= @event.name %> </h2>
<ul> 
  <li><%= @event.location %></li>
  <li><%= @event.date_of_event %></li>
  <figure><%= image_tag @event.image %></figure>
  <li><%= link_to @event.external_link %></li>
</ul>
<p><%= @event.description %></p>

<%= link_to "[take me back to my profile]", user_path(current_user) %>
<br>
<%= link_to "[see my existing events]", events_path %> 
<br>

<%= link_to "[EDIT this event]", edit_event_path(@event) %> 

