<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="RINDU - One Page Business Template<">
  <meta name="author" content="Develpixel">
 <!--  <link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon/favicon.ico" type="image/x-icon"> -->

  <title>fundtime$</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>

<body>  

<div id="user_nav">
  <% if current_user %>
    <%= link_to "Sign Out", logout_path %>
  <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>
</div>

<% if flash[:error] %>
  <p class='error'><%=h flash[:error] %></p>
<% end %>

<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end %>

<body data-spy="scroll" data-target=".navbar-collapse">
    <!-- BEGIN OUTTER -->
    <div class="outter">
        <!-- BEGIN NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="images/logo-top-white.png" alt="">fundtime$</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                   <!--      <li><a class="sscroll" href="#slides">HOME</a>
                        </li>
                        <li><a class="sscroll" href="#about">ABOUT</a>
                        </li>
                        <li><a class="sscroll" href="#services">SERVICES</a>
                        </li>
                        <li><a class="sscroll" href="#team">TEAM</a>
                        </li>
                        <li><a class="sscroll" href="#portfolio">PORTFOLIO</a>
                        </li>
                        <li><a class="sscroll" href="#contact">CONTACT</a>
                        </li> -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PAGES <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="dark-index-video.html">INDEX VIDEO</a>
                                </li>
                                <li><a href="dark-index-static.html">INDEX STATIC IMAGE</a>
                                </li>
                                <li><a href="dark-blog.html">BLOG</a>
                                </li>
                                <li><a href="dark-blog-post.html">BLOG POST</a>
                                </li>
                                <li><a href="dark-comingsoon.html">COMING SOON</a>
                                </li>
                                <li><a href="dark-shortcodes.html">SHORT CODES</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- END NAVBAR -->
  <% yield %>
</body>

</html>
