<!DOCTYPE html>
<html>
<head>
  <title>Fundtimes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="RINDU - One Page Business Template<">
  <meta name="author" content="Develpixel">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'nav' %>
  <div class="header-buffer"></div>
  <div style="background-color:#000;">

    <!-- FLASH MESSAGES -->
<% if flash[:error] %>
 <h2 class='error bg-info'><%=h flash[:error] %></h2>
<% end %>
<% if flash[:notice] -%>
 <h2 class='notice bg-info'><%=h flash[:notice] %></h2>
<% end %>
<!-- END FLASH MESSAGES -->

    <%= yield %>

  
  <!-- FOOTER GOES HERE -->

  </body>
  </div>
</html>