<!DOCTYPE html>
<html>
<head>
  <title>Fundtimes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>

<body>  

<div id="user_nav">
  <% if current_user %>
    <%= link_to "Sign Out", logout_path %>
  <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>
</div>

<% if flash[:error] %>
  <p class='error'><%=h flash[:error] %></p>
<% end %>

<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end %>

<%= yield %>

</body>
</html>
